link(rel="stylesheet", href="bootstrap.min.css")

nav.navbar.navbar-default
    a.navbar-brand
        | Sr Web Dev Project 1
    ul.nav.navbar-nav
        li.nav-item
            a.nav-link(href="index.html")
                | Home
        li.nav-item
            a.nav-link(href="register.html")
                | Register
        li.nav-item
            a.nav-link(href="createevent.html")
                | Create Event

.container
    block content