extends layout.pug

block content
    form
        h1 Create an Account
            fieldset
                legend Required Information
                label
                    | Name
                    input(type="text" required)
