extends layout.pug

block content
    form.form-horizontal
        fieldset
            legend Required Information
            .form-group
                label(for="inputName").col-sm-2.control-label
                    | Name
                .col-sm-10
                    input(type="text" id="inputName" required).form-control
            .form-group
                label(for="inputEmail").col-sm-2.control-label.col-sm-2.control-label
                    | Email
                .col-sm-10
                    input(type="email" id="inputEmail" required).form-control
