extends layout.pug

block content
    .col-md-2
    .col-md-8
        form.form-horizontal(action="javascript:saveUser(); return false;")
            fieldset
                legend Sign up for a new account
                .form-group
                    label(for="inputName").col-sm-2.control-label
                        | Name
                    .col-sm-10
                        input(type="text" id="inputName" placeholder="john doe" required).form-control
                .form-group
                    label(for="inputEmail").col-sm-2.control-label.col-sm-2.control-label
                        | Email
                    .col-sm-10
                        input(type="email" id="inputEmail" placeholder="example@example.com" required).form-control
                .form-group
                    label(for="inputPassword").col-sm-2.control-label.col-sm-2.control-label
                        | Password
                    .col-sm-10
                        input(type="password" id="inputPassword" pattern="(?=.*\\d)(?=.*[a-z])(?=.*[A-Z]).{6,}" required).form-control
                        ul.fa-ul
                            li
                                i.fa-li.fa.fa-times.Invalid(id="promptSixChar")
                                | At least 6 characters long.
                            li
                                i.fa-li.fa.fa-times.Invalid(id="promptUpper")
                                | Has an Upper case letter.
                            li
                                i.fa-li.fa.fa-times.Invalid(id="promptLower")
                                | Has a lower case letter.
                            li
                                i.fa-li.fa.fa-times.Invalid(id="promptNumber")
                                | Must Contain at least one number.
            fieldset
                legend Optional (but helpful fields)
                .form-group
                    label(for="inputBirthDate").col-sm-2.control-label
                        | Date of Birth
                    .col-sm-10
                        input(type="date" id="inputBirthDate" placeholder="MM/DD/YYYY").form-control
                .form-group
                    label(for="inputEmployer").col-sm-2.control-label
                        | Employer
                    .col-sm-10
                        input(type="text" id="inputEmployer" placeholder="Company Name").form-control
                .form-group
                    label(for="inputJobTitle").col-sm-2.control-label
                        | Job Title
                    .col-sm-10
                        input(type="text" id="inputJobTitle" placeholder="Company Name").form-control
            button.pull-right.btn.btn-default(type="submit" id="btnRegister")
                | Register
    .col-md-2